[crowdkast]
token = '760624f7a7f6e8e4af315ff5b7ae107eba5dc846876756e0309d4bfd63e62521'
Ngainers = 5
Nlosers = 5
typeData = 'forecast'
granularity = 'daily'
typePost = 'technology'
filenames = 'technology.csv'
headers = 'Symbol'

[scheduler]
year = *
month = *
day = *
week = *
hour = 15
minute = 21
second = 45
day_of_week = mon-sun

##Available fields for the scheduler
##Field	Description
##year	4-digit year number
##month	month number (1-12)
##day	day of the month (1-31)
##week	ISO week number (1-53)
##day_of_week	number or name of weekday (0-6 or mon,tue,wed,thu,fri,sat,sun)
##hour	hour (0-23)
##minute	minute (0-59)
##second	second (0-59)

# # Expression	Field	Description
# # *	any	Fire on every value
# # */a	any	Fire every a values, starting from the minimum
# # a-b	any	Fire on any value within the a-b range (a must be smaller than b)
# # a-b/c	any	Fire every c values within the a-b range
# # xth y	day	Fire on the x -th occurrence of weekday y within the month
# # last x	day	Fire on the last occurrence of weekday x within the month
# # last	day	Fire on the last day within the month
# # x,y,z	any	Fire on any matching expression; can combine any number of any of the above expressions

[twitter]
APP_KEY = N2sIVsie0TYvsEi36ezemjBnn
APP_SECRET = IpKMAK3hCPBPvFg5w6D4mYI0pVdS4R5ZWbcKVKYvhB728VR9X8
OAUTH_TOKEN = 3405731811-NzqhM4DMYd4SPgTePWuMOzgXj1grfPzEO2ovHPc
OAUTH_TOKEN_SECRET = WFgapFO078z6zyQ5048hRumGNMAoXCMxqRcWQYQva4TJs

[facebook]
page_id = 128693037472095
access_token = CAANmJBI91F0BABBYr8okP1fCXc6n1VG7MTcr731iZCyFszpe68cohvPtZB016ZBkOhWuhNPfBYNdxZA2C307LsTkXA2ZCm9FpBxfZAzCkhvIlDPWvYqOVZBojc4eT4lKUWZAq07HwTh8egTHNyT2oRm5FFJb5szZCaGZCJx0u4LvOQ1IAgc0ZCslynnvCZAgZCMMOrKcZD

[settings]
verbosity = 0